@import "../scss/main.scss";

.reg {
  color: $ColorFive;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .nav-holder {
    height: 20vh;
    margin: 20px 80px 0 0;
  }
  .reg-container {
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    .reg-item {
      height: 90%;
      width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 40px;
        margin-bottom: 10px;
      }
      .decoration {
        margin-bottom: 20px;
        margin-top: 10px;
      }
      .reg-form {
        display: flex;
        margin-top: 30px;
        width: 440px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: flex-start;
        height: 65%;
        background-color: $ColorOne;
        border: none;
        .error-text-log {
          color: red;
          font-weight: bold;
          font-size: 0.8rem;
          margin: 0 3rem;
          padding-top: 0.3rem;
        }
        label {
          margin: 0 3rem;
          font-weight: 700;
        }
        .reg-input {
          background: none;
          border: none;
          width: 80%;
          background: none;
          height: 40px;
          border-bottom: 1px solid $ColorFive;
          margin: 0 3rem;

          &:focus {
            outline: none;
            border-bottom: 1px solid $ColorThree;
          }
        }
      }
      #error-line {
        border-bottom: 1px solid red;
      }

      .reg-btn-contanier {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .reg-btn {
          outline: none;
          background: none;
          border: 1px solid $ColorFive;
          font-size: 1rem;
          font-weight: 300;
          height: 70px;
          padding: 1rem 2rem;
          margin: 3rem 4rem;
          &:hover {
            color: $ColorThree;
            border: 1px solid $ColorThree;
          }
        }
        .reg-login {
          border: none;
          color: inherit;
          text-decoration: none;
          padding-bottom: 0;
          &:hover {
            color: $ColorThree;
            border: none;
          }
        }
      }
    }
  }
}
.input-holder {
  width: 100%;
  height: 40px;
}
