@import '../scss/main.scss';

.header-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 700px;
    background-color: white;
    img {
        position: absolute;
        width: 1000px;
        height: 800px;
        top: -100px;
        left: -400px;
        


    }
    #start {
        position: relative;
        width:60%;
        display: flex;
        
        align-items: flex-end;
        div {
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 30%;
        }


    }
}