@import "../scss/main.scss";

.nav-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 1rem;
    margin-top: 40px;
    .nav-link {
      display: inline;
      text-decoration: none;
      color: inherit;
      padding-left: 4rem;
      cursor: pointer;
      &:hover {
        color: $ColorThree;
      }
    }
  }
}
.header-login {
  align-items: center;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .link-item {
    color: inherit;
    cursor: pointer;
    font-size: 0.8rem;
    text-decoration: inherit;
    margin: 2rem 0;
    &:hover {
      color: $ColorThree;
    }
  }
  .link-reg {
    padding: 0.8rem 1.7rem;
    border: 1px solid $ColorThree;
    margin-left: 3rem;
  }
}
